<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="../css/font-awesome.css" type="text/css" rel="stylesheet">
        <link href="../css/bulma.css" type="text/css" rel="stylesheet">
        <link href="../css/style.css" type="text/css" rel="stylesheet">

        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

        <script src="../js/jquery.min.js"></script>
        <script src="../js/navigator.js"></script>
        <script src="../js/main.js"></script>

        <script>if (window.module) module = window.module;</script>

    </head>

    <body>


        <div class="wrapper-bottom">

            <div class="container">


                <nav class="navbar is-fixed-top">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="../images/banner.png" alt="NakedBear" width="150">
                        </a>
                    </div>

                    <div class="navbar-menu">

                        <div class="navbar-end is-pulled-right">
                            <div class="navbar-item">
                                <div class="field is-grouped">
                                    <p class="control">
                                        <a id="nakedFilesBtn" class="button is-medium">
                                          <span class="icon is-medium">
                                            <i class="fa fa-file"></i>
                                          </span>
                                        </a>
                                        <br>
                                        <small>Files</small>
                                    </p>
                                    <p class="control">
                                        <a id="myAccountBtn" class="button is-medium">
                                          <span class="icon is-medium">
                                            <i class="fa fa-user"></i>
                                          </span>
                                        </a>
                                        <br>
                                        <small>My Account</small>
                                    </p>
                                    <p class="control">
                                        <a id="signoutBtn" class="button is-medium">
                                            <span class="icon is-medium">
                                                <i class="fa fa-sign-out"></i>
                                            </span>
                                        </a>
                                        <br>
                                        <small>Sign Out</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

            </div>

            <div id="nakedFiles">
                <section id="yesfiles" class="section is-hidden">
                    <div class="container">

                        <a id="clearAll" class="button is-danger is-small is-pulled-right">
                            <span class="icon is-small">
                                <i class="fa fa-trash"></i>
                            </span>
                            <span>Clear All</span>
                        </a>

                        <table class="table is-fullwidth">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Link</th>
                                <th class='has-text-centered'>Downloads</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody id="files"></tbody>
                        </table>
                    </div>
                </section>
                <section id="nofiles" class="section is-hidden">
                    <div class="container">
                        <h3 class="title">No Files Added</h3>
                        <p>You can browse for a file or drag and drop it here.</p>
                    </div>
                </section>
                <div class="bottom">
                    <a id="browse" class="button is-naked is-fullwidth bottom-button">
                        <span class="large bolded">Browse...</span>
                    </a>
                </div>
            </div>

            <div id="account"></div>

        </div>

        <script>
            Navigator.routes = ['nakedFiles', 'account'];
            Navigator.hideAll();
            Navigator.navigate('nakedFiles');
        </script>

    </body>
</html>