<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="../css/font-awesome.css" type="text/css" rel="stylesheet">
        <link href="../css/bulma.css" type="text/css" rel="stylesheet">
        <link href="../css/style.css" type="text/css" rel="stylesheet">

        <style>

            body {
                background-color:#eeeeee;
            }

        </style>


        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

        <script src="../js/jquery.min.js"></script>
        <script src="../js/navigator.js"></script>
        <script src="../js/noauth.js"></script>

        <script>if (window.module) module = window.module;</script>

    </head>

    <body>

        <div class="wrapper">
            <section class="hero is-fullheight">
                <div class="hero-body">
                    <div class="container">

                        <div class="centered">

                            <div class="has-text-centered">
                                <center>
                                    <figure class="image is-64x64">
                                        <img src="../images/nakedbear.png">
                                    </figure>
                                </center>

                                <h3 class="is-purple no-margins">NakedBear</h3>
                                <h5 class="no-margins is-purple">Direct File Sharing</h5>
                            </div>


                            <center>

                                <form id="login">
                                    <div class="box box-small">

                                        <div class="field">
                                            <label class="label">Username</label>
                                            <div class="control">
                                                <input class="input" name="username" type="text" placeholder="nakedbear123">
                                            </div>
                                        </div>

                                        <div class="field">
                                            <label class="label">Password</label>
                                            <div class="control">
                                                <input class="input" name="password" type="password" placeholder="●●●●●●●●●●">
                                            </div>
                                        </div>

                                        <a id="loginBtn" class="button purple-btn is-medium is-fullwidth">Login</a>

                                    </div>

                                    <a onclick="Navigator.navigate('forgot')" class="button is-white is-medium is-fullwidth button-small">Forgot Password</a>

                                    <a onclick="Navigator.navigate('signup')" class="button is-white is-medium is-fullwidth button-small">Sign Up</a>
                                </form>


                                <form id="signup">
                                    <div class="box box-small">

                                        <div class="field">
                                            <label class="label">Full Name</label>
                                            <div class="control">
                                                <input class="input" name="fullName" type="text" placeholder="Richard Hendricks">
                                            </div>
                                        </div>

                                        <div class="field">
                                            <label class="label">Email</label>
                                            <div class="control">
                                                <input class="input" name="email" type="text" placeholder="richard@piedpiper.com">
                                            </div>
                                        </div>

                                        <div class="field">
                                            <label class="label">Username</label>
                                            <div class="control">
                                                <input class="input" name="username" type="text" placeholder="richard123">
                                            </div>
                                        </div>

                                        <div class="field">
                                            <label class="label">Password</label>
                                            <div class="control">
                                                <input class="input" name="password" type="password" placeholder="●●●●●●●●●●">
                                            </div>
                                        </div>

                                        <div class="field">
                                            <label class="label">Confirm Password</label>
                                            <div class="control">
                                                <input class="input" name="confirm" type="password" placeholder="●●●●●●●●●●">
                                            </div>
                                        </div>

                                        <a id="signupBtn" class="button purple-btn is-medium is-fullwidth">Sign Up</a>

                                    </div>

                                    <a onclick="Navigator.navigate('login')" class="button is-white is-medium is-fullwidth button-small">Login</a>
                                </form>


                                <form id="forgot">
                                    <div class="box box-small">

                                        <div class="field">
                                            <label class="label">Email</label>
                                            <div class="control">
                                                <input class="input" name="email" type="email" placeholder="richard@piedpiper.com">
                                            </div>
                                        </div>

                                        <a id="forgotBtn" class="button purple-btn is-medium is-fullwidth">Reset Password</a>

                                    </div>

                                    <a onclick="Navigator.navigate('login')" class="button is-white is-medium is-fullwidth button-small">Login</a>

                                    <a onclick="Navigator.navigate('signup')" class="button is-white is-medium is-fullwidth button-small">Sign Up</a>
                                </form>


                            </center>


                        </div>

                    </div>
                </div>
            </section>
        </div>

        <script>
            Navigator.routes = ['login', 'signup', 'forgot'];
            Navigator.hideAll();
            Navigator.navigate('login');
        </script>

    </body>
</html>