<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="../css/font-awesome.css" type="text/css" rel="stylesheet">
        <link href="../css/bulma.css" type="text/css" rel="stylesheet">
        <link href="../css/style.css" type="text/css" rel="stylesheet">
    </head>

    <body>


        <div class="wrapper-bottom">

            <div class="container">


                <nav class="navbar is-fixed-top">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img src="../images/banner.png" alt="NakedBear" width="150">
                        </a>
                    </div>

                    <div class="navbar-menu">

                        <div class="navbar-end is-pulled-right">
                            <div class="navbar-item">
                                <div class="field is-grouped">
                                    <p class="control">
                                        <a class="button is-medium">
                                          <span class="icon is-medium">
                                            <i class="fa fa-user"></i>
                                          </span>
                                        </a>
                                        <br>
                                        <small>My Account</small>
                                    </p>
                                    <p class="control">
                                        <a class="button is-medium">
                                            <span class="icon is-medium">
                                                <i class="fa fa-sign-out"></i>
                                            </span>
                                        </a>
                                        <br>
                                        <small>Sign Out</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

            </div>

            <section class="section">
                <div class="container">
                    <table class="table is-fullwidth">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Link</th>
                            <th>Downloads</th>
                            <th>
                                <a class="button is-danger is-small is-pulled-right">
                                    <span class="icon is-small">
                                        <i class="fa fa-trash"></i>
                                    </span>

                                    <span>Clear All</span>
                                </a>
                            </th>
                        </tr>
                        </thead>

                        <tbody>

                        </tbody>
                    </table>
                </div>
            </section>


            <section class="section">
                <div class="container">
                    <h3 class="title">No Files Added</h3>
                    <p>You can browse for a file or drag and drop it here.</p>
                </div>
            </section>


            <div class="bottom">
                <a class="button is-naked is-fullwidth bottom-button">
                    <span class="large bolded">Browse...</span>
                </a>
            </div>

        </div>

    </body>
</html>