<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="../css/font-awesome.css" type="text/css" rel="stylesheet">
        <link href="../css/bulma.css" type="text/css" rel="stylesheet">
        <link href="../css/style.css" type="text/css" rel="stylesheet">

        <style>

            body {
                background-color:#eeeeee;
            }

        </style>

    </head>

    <body>

        <div class="wrapper">
            <section class="hero is-fullheight">
                <div class="hero-body">
                    <div class="container">

                        <div class="centered">

                            <div class="has-text-centered">
                                <center>
                                    <figure class="image is-64x64">
                                        <img src="../images/nakedbear.png">
                                    </figure>
                                </center>

                                <h3 class="is-purple no-margins">NakedBear</h3>
                                <h5 class="no-margins is-purple">Direct File Sharing</h5>
                            </div>


                            <center>
                        <div class="box box-small">

                            <div class="field">
                                <label class="label">Username</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="nakedbear123">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control">
                                    <input class="input" type="password" placeholder="●●●●●●●●●●">
                                </div>
                            </div>

                            <a class="button purple-btn is-medium is-fullwidth">Login</a>

                        </div>

                        <a class="button is-white is-medium is-fullwidth button-small">Forgot Password</a>

                        <a class="button is-white is-medium is-fullwidth button-small">Sign Up</a>


                    </center>


                        </div>

                    </div>
                </div>
            </section>
        </div>


            


    </body>
</html>